<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>エクセルシート画面</title>
</head>

<body>
    <h1>
        エクセルシート選択画面
    </h1>
    <div class="user-menu">
        <h2>
            {% if display is null %}
            <form action="" method="post" name="upload" enctype="multipart/form-data">
                {{ upload.file }}<br>
                {% csrf_token %}
                <button name="btn_submit" type="file">アップロード</button>
            </form>
            {% else %}
            {% for d in display %}
            {{ d }}
            {% endfor %}
            {% endif %}
        </h2>
    </div>
</body>

</html>